<% include partials/header %>

<% if (typeof cart !== "undefined") { %>

<h1 class="page-title">My Gallery Wish List</h1>
<br><br>

<table class="table table-striped alignmiddle">
    
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    
    
});
    
</script>

<% include partials/footer %>