<% include partials/header %>
    <h1 class="text-center">Home</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <ul>
                    <% for (post of posts) { %>
                    <li class="list-group-item">
                        <div class="lead">
                            <a><%= post.title %></a>
                            <a href="/posts/<%= post.id %>" target="_blank">
                        </div>
                            <%= post.url %></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
<% include partials/footer %>


