<%- include('../partials/adminheader') %>

<h2 class="page-title">Categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add a new category</a>
<br><br>



<%- include('../partials/adminfooter') %>