<%- include('../partials/adminheader') %>

<h2 class="page-title">Edit a page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>



<%- include('../partials/adminfooter') %>