<%- include('../partials/adminheader') %>

<h2 class="page-title">Edit product</h2>
<a href="/admin/products" class="btn btn-primary">Back to all products</a>
<br><br>



<%- include('../partials/adminfooter') %>