<%- include('../partials/adminheader') %>

<h2 class="page-title">Edit a category</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>



<%- include('../partials/adminfooter') %>