<%- include('../partials/adminheader') %>

<h2 class="page-title">Pages</h2>
<a href="/admin/pages/add-page" class="btn btn-primary">Add a new page</a>
<br><br>



<%- include('../partials/adminfooter') %>